// 写公共的样式就可以

// 页面展示的页边距
$pagePadding : 30rpx;

// icon 图标和文字的边距
$iconImgPadding : 20rpx;

// 大号字体大小
$bigfontsize : 45rpx;
 
// 中号字体大小
$mediumfontsize : 35rpx;

// 小号字体大小
$smallfontsize : 25rpx;

// 浅灰色字体
$LightGreyfont : #999;